<!-- NG FOR -->

<!-- <div *ngFor="let itemCard of items" class="mb-5">
  <app-card [itemCard]="itemCard"> -->
       <!--  <div poducto>
            <app-product [data]="itemCard"></app-product>
        </div>
        <div quote>
            <app-quote [data]="itemCard"></app-quote>
        </div>
        <div post>
            <app-post [data]="itemCard"></app-post>
        </div> -->
 <!--  </app-card>
</div> -->


<div *ngFor="let itemCard of items" class="mb-5">
  <app-card [itemCard]="itemCard" ></app-card>
</div>
